<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <!-- permiso para hacer llamadas-->
  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <!-- Declarar que la telefonía no es obligatoria -->
  <uses-feature
      android:name="android.hardware.telephony"
      android:required="false" />

  <uses-permission android:name="android.permission.INTERNET"/>  <!--Permisos de internet-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
  <!--uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/-->

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.Inmobiliaria">

    <!-- Clave de Google Maps -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDoDQZwG8PQoAPT4sY4FslY043Xu_cjTOk" />

    <!--login como punto de entrda -->
    <activity
        android:name=".ui.login.LoginActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!--menu navegable,  -->
    <activity
        android:name=".ui.main.MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Inmobiliaria.NoActionBar">
    </activity>
  </application>

</manifest>